
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Ships.iml
.idea/vcs.xml
.idea/workspace.xml
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache 2.txt
cmake-build-debug/CMakeCache 3.txt
cmake-build-debug/CMakeCache 4.txt
cmake-build-debug/CMakeCache 5.txt
cmake-build-debug/CMakeCache(1).txt
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.13.4/CMakeCCompiler(1).cmake
cmake-build-debug/CMakeFiles/3.13.4/CMakeCXXCompiler(1).cmake
cmake-build-debug/CMakeFiles/3.13.4/CMakeDetermineCompilerABI_C(1).bin
cmake-build-debug/CMakeFiles/3.13.4/CMakeDetermineCompilerABI_CXX(1).bin
cmake-build-debug/CMakeFiles/3.13.4/CMakeSystem(1).cmake
cmake-build-debug/CMakeFiles/3.13.4/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.13.4/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.13.4/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.13.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/clion-environment(1).txt
cmake-build-debug/CMakeFiles/clion-log(1).txt
cmake-build-debug/CMakeFiles/cmake(1).check_cache
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation(1).cmake
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/feature_tests(1).bin
cmake-build-debug/CMakeFiles/feature_tests(1).c
cmake-build-debug/CMakeFiles/feature_tests(1).cxx
cmake-build-debug/CMakeFiles/Makefile(1).cmake
cmake-build-debug/CMakeFiles/Makefile2(1)
cmake-build-debug/CMakeFiles/progress(1).marks
cmake-build-debug/CMakeFiles/Ships.dir/build(1).make
cmake-build-debug/CMakeFiles/Ships.dir/cmake_clean(1).cmake
cmake-build-debug/CMakeFiles/Ships.dir/depend(1).make
cmake-build-debug/CMakeFiles/Ships.dir/DependInfo(1).cmake
cmake-build-debug/CMakeFiles/Ships.dir/flags(1).make
cmake-build-debug/CMakeFiles/Ships.dir/link.txt
cmake-build-debug/CMakeFiles/Ships.dir/progress(1).make
cmake-build-debug/CMakeFiles/TargetDirectories(1).txt
cmake-build-debug/Makefile
cmake-build-debug/SDL2.dll
cmake-build-debug/Ships.cbp
cmake-build-debug/Ships.exe
cmake-build-debug/Ships.ilk
cmake-build-debug/Ships.pdb
CMakeLists.txt
Debug/.d
Debug/main.cpp.o
Debug/main.cpp.o.d
Debug/Ships
Ships.mk
Ships.project
Ships.txt
